/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #FF52A2;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 30px;
}

.chart-container {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color:#FFECAF;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chart-container > div {
    text-align: center;
}

.chart-container h2 {
    color: #007BFF;
    margin-top: 0;
}

/* Additional styles for the pie chart itself (if needed) */

