<!-- view_visualizations.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>View Visualizations</title>
    <link rel="stylesheet" type="text/css" href="../static/view.css">
</head>
<body>
    <h1>View Visualizations</h1>
    <ul>
        <li><a href="{{ url_for('pie_chart') }}">View Pie Chart</a></li>
        <li><a href="{{ url_for('bar_graph_route') }}">View Bar Graph</a></li>
        <li><a href="{{ url_for('scatter_plot') }}">View Scatter Plot</a></li>
    </ul>
</body>
</html>
